
<%= bootstrap_form_with(model: [@category, @note], local: true) do |f| %>
<%= f.alert_message "Please review the problems below:" %>
<div class="card">
    <div class="body">
        <div class="form-group">
            <%= f.text_field :title, class: 'form-control', placeholder: 'Enter Your Note Title'%>
        </div>                  
    </div>
     <div>
        <%= f.hidden_field :address, :value => @location.ip %>
  </div>
</div>
<div class="card">
    <div class="body">
        <%= f.text_area :content,id:'editor', rows: 5, cols: '40' %>
        <%= f.primary %>
    </div>
  <%= link_to "Back",category_notes_path(@category), class: "btn btn-link" %>
</div>
<% end %>

