<% provide(:title, "Listing notes") %>

<table class="table table-striped">
<thead>
    <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    </tr>
</thead>
<div class="dropdown">
    <li class="nav-item">
    <%= link_to "Recent", category_notes_path(recent: true) %>
    </li>
    <li class="nav-item">
    <%= link_to "view tags", notes_tags_path %>
    </li>
</div>
     
<tbody>
    <% @notes.each do |note| %>
    <tr>
        <td><%= note.title %></td>
        <td><%= render_with_hashtags(note.content) %></td>
        <td>
        <div class="btn-group">
            <%= link_to [@category],   class: "btn btn-xs btn-default" do %>
            <%= fa_icon("eye", text: "Show") %>
            <% end %>
            <%= link_to  edit_category_note_path(@category, note), class: "btn btn-xs btn-default" do %>
            <%= fa_icon("pencil", text: "Edit") %>
            <% end %>
            <%= link_to  [@category, note], class: "btn btn-xs btn-danger", method: :delete, data: { confirm: "Are you sure you want to delete this note?" } do %>
            <%= fa_icon("trash-o", text: "Destroy") %>
            <% end %>
        </div>
    </tr>
    <% end %>
</tbody>
</table>

<br>

<%= link_to new_category_note_path(@category), class: "btn btn-default" do %>
<%= fa_icon("plus", text: "New Note") %>
<% end %>
