<% provide(:title, "New profile") %>
<%= render "devise/shared/links" %>
<div class="container">
    <div class="col-md-12 content-center">
        <div class="card-plain">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                <div class="header">
                    <div class="logo-container expandUp">
                        <img src="/images/logo.svg" alt="">
                    </div>
                    <h5>Sign Up</h5>
                    <span>Register a new membership</span>
                </div>
                <div class="content">                                                
                    <div class="input-group">
                      <%= f.email_field :email, class: 'form-control',placeholder: 'Enter  Email'%>
                        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                    </div>
                    <div class="input-group">
                      <%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
                        <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                    </div>
                    <div class="input-group">
                      <%= f.password_field :password_confirmation, placeholder: 'Confrim Password', class: 'form-control' %>
                        <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                    </div>                        
                </div>
                <div class="checkbox">
                        <input id="terms" type="checkbox">
                        <label for="terms">
                                I read and agree to the <a href="javascript:void(0);">terms of usage</a>
                        </label>
                    </div>
                <div class="footer">
                    <%= f.submit "Sign up", class: 'btn btn-primary btn-round btn-lg btn-block waves-effect waves-light' %>
                </div>
            
            <% end %>
            
        </div>
    </div>
</div>
