
<div class="container">
    <div class="col-md-12 content-center">
        <div class="card-plain">
                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                <%= f.hidden_field :reset_password_token %>
                <div class="header">
                    <div class="logo-container expandUp">
                        <img src="/images/logo.svg" alt="">
                    </div>
                    <h5>Forgot Password?</h5>
                    <span class="text-muted">Enter new password.</span>
                </div>
                <div class="content">
                    <div class="input-group input-lg">
                      <%= f.password_field :password, class: 'form-control',placeholder: 'new password'%>
                        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                    </div>
                </div>
                <div class="content">
                    <div class="input-group input-lg">
                      <%= f.password_field :password_confirmation, class: 'form-control',placeholder: 'confrim new password'%>
                        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                    </div>
                </div>
                <div class="footer">
                    <%= f.submit "SUBMIT",class: 'btn btn-primary btn-round btn-lg btn-block waves-effect waves-light' %>
                    <h5><a href="javascript:void(0);" class="link">Need Help?</a></h5>
                </div>
            
            <% end %>
            
        </div>
    </div>
</div>

