<aside id="leftsidebar" class="sidebar">
    <div class="menu">
        <ul class="list">
            <li>
            </li>
            <li class="header">MAIN</li>
            <li class="active open">
            <%= link_to category_notes_path(@category) do %> 
                <i class="zmdi zmdi-home"></i><span>Home</span>
            <%end%>
            </li>
            <li>
                <%= link_to new_category_note_path(@category) do %> 
                    <i class="zmdi zmdi-plus-circle"></i><span>New Note</span>
                <%end%>
            </li>
            <li>
            <%= link_to category_notes_path(@category, recent: :true) do %> 
                        <i class="zmdi zmdi-sort-amount-desc"></i><span>Recent Note</span>
                    <%end%>
            </li>
            <li>
            <%= link_to notes_tags_path do %> 
                        <i class="zmdi zmdi-tag"></i><span>Note Tags</span>
                    <%end%>
                </li>
                <li>
                <%= link_to trash_path do %> 
                            <i class="zmdi zmdi-folder-star-alt"></i><span>Trash</span>
                        <%end%>
                    </li>
                
                <li class="header">CATEGORIES</li>
                <li><a href="javascript:void(0);" class="waves-effect waves-block"><i class="zmdi zmdi-circle-o col-green"></i><span>Web Design</span></a></li>
                <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-circle-o col-red"></i><span>Photography</span> </a>
                    <ul class="ml-menu">
                        <li><a href="javascript:void(0);">Wild</a></li>
                        <li><a href="javascript:void(0);">Marriage</a></li>
                    </ul>
                </li> 
                <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-circle-o col-amber"></i><span>Technology</span> </a>
                    <ul class="ml-menu">
                        <li><a href="javascript:void(0);">UI UX Design</a></li>
                        <li><a href="javascript:void(0);">Android</a></li>
                        <li><a href="javascript:void(0);">iOS</a></li>
                        <li><a href="javascript:void(0);">Wordpress</a></li>
                    </ul>
                </li>               
                <li><a href="javascript:void(0);" class="waves-effect waves-block"><i class="zmdi zmdi-circle-o col-purple"></i><span>Lifestyle</span></a></li>
                <li><a href="javascript:void(0);" class="waves-effect waves-block"><i class="zmdi zmdi-circle-o col-lime"></i><span>Sports</span></a></li>
        </ul>
    </div>
</aside>
