<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to("Blacknote", root_path, class: "navbar-brand") %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= navbar_link_to("Home", root_path,active_when: { controller: "home"} ) %></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>

       <% if user_signed_in? %>
        <li><%= link_to 'Edit profile', edit_user_registration_path %></li> |
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path  %></li> |
          <li><%= link_to "Login", new_user_session_path  %></li>
        <% end %>
       
        <li>
          <%= form_tag(search_note_path, :method => "get",   
              class: 'navbar-form navbar-left') do %>  
            <div class="input-group">  
              <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
              <div class="input-group-btn">  
                <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
              </div>  
            </div>  
          <% end %>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
