

<div class="container">
    <div class="col-md-12 content-center">
        <div class="card-plain">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name),class: 'form') do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                <div class="header">
                    <div class="logo-container expandUp">
                        <img src="/images/logo.svg" alt="">
                    </div>
                    <h5>Log in</h5>
                </div>
                <div class="content">                                                
                    <div class="input-group input-lg">
                        <%= f.email_field :email, class: 'form-control',placeholder: 'Enter User Name'%>
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-account-circle"></i>
                        </span>
                    </div>
                    <div class="input-group input-lg">
                        <%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
                        <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                    </div>
                </div>
                <div class="footer">
                    <%= f.submit "SIGN IN",class: 'btn btn-primary btn-round btn-lg btn-block ' %>
                    <h5><%= link_to "Forgot Password?", new_password_path(resource_name),class: 'link' %></h5>
                </div>
            <%end%>
        </div>
    </div>
</div>