
<%= javascript_include_tag "application" %>
<%= render("shared/navbar") %>
<div class="container">
  <%= render("shared/flash") %>
  <%= render("shared/page_header") %>
  <%= yield %>
  <%= render("shared/footer") %>
</div>
<% parent_layout "base" %>
