<!doctype html>
<html class="no-js " lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<meta name="description" content="sQuare Bootstrap 4 Admin Dashboard with ui kit.">

<title>BlacKnote</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<!-- Favicon-->
<link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
<!-- Custom Css -->
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/blog.css">
<link rel="stylesheet" href="/assets/css/inbox.css">
<link rel="stylesheet" href="/plugins/light-gallery/css/lightgallery.css">
<link rel="stylesheet" href="/assets/css/color_skins.css">
   
</head>
<body class="theme-cyan">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img  class="zmdi-hc-spin" src="/images/logo.svg" width="48" height="48" alt="Bl">
        </div>
        <p>Please wait...</p>        
    </div>
</div>

<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- Top Bar -->
<nav class="navbar">
    <ul class="nav navbar-nav navbar-left">
        <li>
            <div class="navbar-header">
                <a href="javascript:void(0);" class="bars"></a>
                <%= link_to root_path, class: 'navbar-brand' do %>
                    <img src="/images/logo-white.svg" width="30"><span class="m-l-10">BlacKnote</span>
                <%end%>
            </div>
        </li>        
        <li>
            <a href="javascript:void(0);" class="menu-sm" data-close="true">
                <i class="zmdi zmdi-arrow-left"></i>
                <i class="zmdi zmdi-arrow-right"></i>
            </a>
        </li>
        <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="zmdi zmdi-apps"></i></a>
            <ul class="dropdown-menu pullDown">
                <li>
                 <%= link_to root_path(:anchor => "features") do %>
                 <i class="zmdi zmdi-email m-r-10"></i><span>Features</span>
                  <% end %>
                </li>
                <li>
                <%= link_to root_path(:anchor => "contact") do %>
                <i class="zmdi zmdi-accounts-list m-r-10"></i><span>Contacts</span>
                <% end %>
                </li>
                <li>
                <%= link_to root_path(:anchor => "#") do %>
                <i class="zmdi zmdi-comment-text m-r-10"></i><span>Chat with</span>
                <% end %>
                </li>
                <li>
                <%= link_to root_path(:anchor => "download") do %>
                <i class="zmdi zmdi-arrows m-r-10"></i><span>Donate</span>
                <% end %>
                </li>          
            </ul>
        </li>
        <li class="dropdown notifications hidden-sm-down"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="zmdi zmdi-notifications"></i>
            <span class="label-count"><%=@accessnote.count%></span>
            </a>
            <ul class="dropdown-menu pullDown">
                <li class="body">
                    <ul class="menu list-unstyled">
                    <%  @accessnote.first(5).each do |note| %>
                        <li>
                            <%= link_to category_note_path(@category, note) do %>
                                <div class="media">
                                    <div class="media-body">
                                        <span class="name"><%= note.title.first(20)%> <span class="time"><%= (note.created_at.day)%> day</span></span>
                                        <span class="message"><%= note.content.truncate(28)%></span>                                        
                                    </div>
                                </div>
                            <%end%>
                        </li>
                        <%end%>                                                             
                    </ul>
                </li>
                <li class="footer">
                <%= link_to category_notes_path(@category) do %>View all
                <% end %>
                </li>
            </ul>
        </li>      
        <li class="search_bar hidden-sm-down">
        <%= form_tag(search_note_path, :method => "get") do %>
        <div class="input-group">  
            <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
            <span class="input-group-addon">
            <i class="zmdi zmdi-search"></i>
            </span>
        </div>
        <% end %> 
        </li>

        <li class="float-right">            
            <a href="javascript:void(0);" class="fullscreen hidden-md-down hidden-sm-down" data-provide="fullscreen"><i class="zmdi zmdi-fullscreen"></i></a>            
            <a href="javascript:void(0);" class="js-right-sidebar"><i class="zmdi zmdi-settings"></i></a>
            <%= link_to  edit_user_registration_path, :class => "mega-menu" do %>
            <i class="zmdi zmdi-account-circle"></i>
            <%end%>
            <%= link_to  destroy_user_session_path, :method => :delete , :class => "mega-menu" do %>
            <i class="zmdi zmdi-power"></i>
            <%end%>
        </li>        
    </ul>
</nav>
<!-- Left Sidebar -->

<!-- Right Chatbar -->
<!-- Right Sidebar -->
<%= render("shared/flash") %>
<%= render partial: 'shared/leftsidebar' %>
<%= render("shared/flash") %>

<%= yield %>

    <script src="/assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js --> 
    <script src="/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js --> 
    <script src="/plugins/light-gallery/js/lightgallery-all.min.js"></script>
    <script src="/plugins/bootstrap-notify/bootstrap-notify.js"></script>
    <script src="/assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->
    <script src="/assets/js/pages/medias/image-gallery.js"></script>
    <script src="/assets/js/pages/ui/notifications.js"></script> <!-- Custom Js -->
</body>
</html>